<body>
	<div class="row text-center">
		<h4> {{ "Current Game Settings: " + settingsVm.currentGame }} </h4>
		<h5> {{ "Total Number of Games: " + settingsVm.totalGames }} </h5>
		<h6> (games are zero-indexed) </h6>

		<button ng-click="settingsVm.decrement()"> prev </button>
		<input type="text" placeholder="game number" value="0" ng-model="settingsVm.currentGame" />
		<button ng-click="settingsVm.increment()"> next </button>
	</div>
	
	<div class="row top-buffer">
		<div class="col-md-2" />
		<div class="col-md-7">
			<table class="table">
				<tr>
					<td>
					<table>
						<tr ng-repeat="(key, value) in settingsVm.formData" ng-hide="$first" ng-if="$index < 10">
							<td> {{ key + ": "}} </td>
							<td> 
								<input type="text" placeholder="{{ value }}" ng-value="value" required="string" ng-model="settingsVm.formData[key]" /> 
							</td>
						</tr>
					</table>
					</td>

					<td>
					<table>
						<tr ng-repeat="(key, value) in settingsVm.formData" ng-hide="$first" ng-if="$index >= 10">
							<td> {{ key + ": "}} </td>
							<td> 
								<input type="text" placeholder="{{ value }}" ng-value="value" required="string" ng-model="settingsVm.formData[key]" /> 
							</td>
							
						</tr>
					</table>
					</td>
				</tr>

				<tr> 
					<td></td>
					<td>
						<button ng-click="settingsVm.update()" class="btn btn-default"> submit </button>
						<button ng-click="settingsVm.remove(settingsVm.currentGame)" class="btn btn-default"> delete </button>
					</td> 
				</tr>
			</table>
		</div>

		<div class="col-md-2">
			<div class="container-fluid">
				<h4> Choose Game </h4>
				<div ng-repeat="setting in settingsVm.settings">
					<button ng-click="settingsVm.select(setting.game)"> {{ "Game: " + setting.game }} </button>
				</div>
			</div>
		</div>
	</div>
</body>


