<!DOCTYPE html>
<html ng-app="testApp">
    <head>
        <meta charset="utf-8" />
        <title>Hello World</title>
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="css/default.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <h1 ng-controller="HelloWorldCtrl">{{helloMessage}}</h1>
        </header>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

        <script type="text/javascript">
            function HelloWorldCtrl($scope) {
                $scope.helloMessage = "Hello World!";
            }

            angular
                .module("testApp", [])
                .controller("HelloWorldCtrl", ['$scope', HelloWorldCtrl]);
        </script>
    </body>
</html>