<body>
	<div class="row">
		<div class="col-md-1" />
		<div class="col-md-10">
			<h2 class="text-center"> About the Game </h2>
			<p> 
				HotBox X is a project developed by Peter Xu for the Model Predictive Control Lab at Berkeley. The goal
				is to collect data to create models of human decision making. The game is very similar to <i> Flappy Bird </i>
				except that the game settings to HotBox X are variable and modifiable by the researcher. These settings include
				gravity, player jump height, obstacle speed, and variation in obstacle distribution, which can be
				based off a uniform distribution or a normal distribution with variable mean and standard deviation. There are a
				total of seventeen configurable settings. In every game, data is recorded whenever a new wave spawns, 
				the player jumps, collects a reward, or collides with an obstacle.
			</p>
			<p>
				The core game was developed in Java using the LibGDX game development library. The server was developed with the MEAN stack.
			</p>
			<p> 
				You can view the source code for the game and the Node app that runs the game backend as well as this site below.
			</p>
			<div class="text-center">
				<a href="" class="btn btn-default"> HotBox X </a>
				<a href="" class="btn btn-default"> HotBox X Server </a>
			</div>
			<hr class="hr-margin">
		</div>
		<div class="col-md-1" />
	</div>

	<div class="row">
		<div class="col-md-1" />
		<div class="col-md-10">
			<h2 class="text-center"> About the Developer </h2>
			<p>
				Peter Xu is currently a sophomore at UC Berkeley studying computer science. When he's not coding, he enjoys talking about
				himself in the third person, drinking good tea, and listening to Christmas music when it's not Christmas. His favorite Christmas song is "The Little Drummer Boy" performed by the Harry Simeone Chorale. Currently ranked Bronze 1 in <i> League of Legends </i> (they say Rumble's Vigilantes is the most fearsome of divisions), Peter has rejected many an offer from professional teams. Although his eyes may be on the prize, his heart is in the code.
			</p>
			<div class="text-center"><a href="http://peterxu30.github.io" class="btn btn-default"> Check him out </a></div>
			<hr class="hr-margin">
		</div>
		<div class="col-md-1" />
	</div>

	<div class="row">
		<div class="col-md-1" />
		<div class="col-md-10">
			<h2 class="text-center"> Special Thanks </h2>
			<p>
				This project would not have been possible without the help of great people. Like in a PBS pledge drive, they have reached the target number of contributions and have earned their place on this page. 
			</p>

			<h3> Theresa Lin and the MPC Lab </h3>
			<p> 
				Special thanks to graduate student Theresa Lin and the MPC Lab for giving me such an interesting project to work on. It was very rewarding to learn so many new technologies.
			</p>

			<h3> Brandon Wu </h3>
			<p>
				Special thanks to Brandon Wu for being a great friend and for putting up with me. There wasn't a single day where I wasn't spamming him with questions. I shall continue to strive to become as knowledgeable as you O great one.  
			</p>
		</div>
		<div class="col-md-1" />
	</div>

</body>
