<!DOCTYPE HTML>
<html ng-app="app">
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://ec2-52-8-138-168.us-west-1.compute.amazonaws.com//stylesheets/custom.css">
		<link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
		<title> HotBox-X </title>
	</head>

	<body class="container">
		<div ng-controller="loginController as loginVm">
			<div class="navbar navbar-default navbar-fixed-top">
				{{ loginVm.jwtExpirationChecker() }}
				<ul class="nav navbar-nav">
					<li class="navbar-brand title"> HotBox-X </li>
					<li><a href="#/"> Home </a> </li>
					<li><a href="#about"> About </a> </li>
					<li class="dropdown">
						<a href="" ng-show="$storage.loggedIn" class="dropdown-toggle" data-toggle="dropdown"> Settings <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#settings"> Change Settings </a></li>
							<li><a href="#settings/guide"> Settings Guide </a></li>
						</ul>
					</li>
					<li><a href="#data" ng-show="$storage.loggedIn"> Data </a></li>
					<li><a href="#account" ng-show="$storage.loggedIn"> Account </a></li>
				</ul>
				<form ng-show="!$storage.loggedIn" class="navbar-form navbar-right">
					<div class="form-group">
					Username: <input type="text" placeholder="username" ng-model="loginVm.credentials.name" />
					Password: <input type="password" placeholder="password" ng-model="loginVm.credentials.password" />
					</div>
					<button ng-click="loginVm.login()" class="btn btn-default btn-sm"> Log In </button>
				</form> 

				<div ng-show="$storage.loggedIn" class="navbar-form navbar-right">
					Logged in: {{ $storage.name }}
					<button ng-click="loginVm.logout()" class="btn btn-default btn-sm"> Log Out </button>
				</div>
			</div>
		</div>

		<div ng-controller="routesController" ng-view></div>

		<!-- Scripts -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>
		<script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
		<!--added this-->
		<script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="http://ec2-52-8-138-168.us-west-1.compute.amazonaws.com/javascripts/settings/settingsApp.js"></script>
		<script type="text/javascript" src="http://ec2-52-8-138-168.us-west-1.compute.amazonaws.com/javascripts/data/dataApp.js"></script>
		<script type="text/javascript" src="http://ec2-52-8-138-168.us-west-1.compute.amazonaws.com/javascripts/accounts/accountsApp.js"></script>
		<script type="text/javascript" src="http://ec2-52-8-138-168.us-west-1.compute.amazonaws.com/javascripts/routesApp.js"></script>
		<script type="text/javascript" src="http://ec2-52-8-138-168.us-west-1.compute.amazonaws.com/javascripts/app.js"></script>
		<script type="text/javascript" src="http://ec2-52-8-138-168.us-west-1.compute.amazonaws.com/javascripts/loginController.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-58961771-2', 'auto');
		  ga('send', 'pageview');
		</script>
	</body>
</html>
