<body>
	<div class="row top-buffer-20">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="text-center">
				<iframe src="http://ec2-52-8-32-180.us-west-1.compute.amazonaws.com:8088/war/" width="820" height="500" style="border:none"></iframe>
				
				<p class="text-center top-buffer-5"><b> Please play the game until completion, otherwise your data will not be recorded! </b></p>
				<p class="text-center top-buffer-5"> 
					Designed for the Model Predicitive Control Lab at UC Berkeley. Game data from your session will be recorded for research purposes. <br/> Cookies must be enabled.
				</p>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
	<script type="text/javascript">
		document.documentElement.addEventListener('keydown', function (e) {
              if ( ( e.keycode || e.which ) == 32) {
                  e.preventDefault();
              }
          }, false);
	</script>
</body>
