<body>
	<h4 class="text-center"> Settings Guide </h4>
	<div class="row text-center">
		<img src="http://ec2-52-8-138-168.us-west-1.compute.amazonaws.com/images/gameguide.png" class="text-center border-1"/>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 text-center">
			<p class="text-center top-buffer-10">
				The game screen is 800 x 480 pixels. (0, 0) is the top left corner of the screen and (800, 480) is the bottom right corner.
				Obstacles spawn from the right side of the screen and travel left.
				<br/>
				To add new settings, just write directly into the fields. Settings are updated/created based on the <b> game </b> field value.
				<br/>
			</p>
		</div>
		<div class="col-md-2"></div>
	</div>
</body>