<body>
	<div class="row text-center">
		<div class="col-md-2"></div>
		<div class="col-md-8">
		<h4> {{ "Current Game Settings: " + settingsVm.currentGame }} </h4>
		<h5> {{ "Total Number of Games: " + settingsVm.totalGames }} </h5>
		<h6> (games are zero-indexed) </h6>

		<button ng-click="settingsVm.decrement()"> prev </button>
		<input type="number" placeholder="game number" value="0" ng-model="settingsVm.currentGame" />
		<button ng-click="settingsVm.increment()"> next </button>
		</div>
		
	</div>
	
	<div class="row top-buffer-20">
		<div class="col-md-2"></div>
		<div class="col-md-7">
			<table class="table">
				<tr>
					<td>
					<table>
						<tr>
							<td>
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="The round whose settings you are modifying."> game: </a>
							</td>
							<td> 
								<input type="number" ng-value="settingsVm.formData.game" required="number" ng-model="settingsVm.formData.game" /> 
							</td>
						</tr>
						<tr>
							<td>
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<b>Penalty:</b> Obstacle collisions result in score penalty. When score < min score, game over. <br/> <b>Permadeath:</b> Obstacle collision results in game over."> gameMode: </a>
							</td>
							<td> 
								<select ng-model="settingsVm.formData.gameMode" class="form-control">
									<option value="penalty"> penalty </option>
									<option value="permadeath"> permadeath </option>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="How many points rewards are worth."> rewardValue: </a>
							</td>
							<td> 
								<input type="number" ng-value="settingsVm.formData.rewardValue" required="number" ng-model="settingsVm.formData.rewardValue" /> 
							</td>
						</tr>
						<tr>
							<td>
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="The score penalty on obstacle collisions in penalty mode."> penaltyValue: </a>
							</td>
							<td> 
								<input type="number" ng-value="settingsVm.formData.penaltyValue" required="number" ng-model="settingsVm.formData.penaltyValue" /> 
							</td>
						</tr>
						<tr>
							<td>
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="The minimum score in penalty mode. Falling below it results in game over."> minScore: </a>
							</td>
							<td> 
								<input type="number" ng-value="settingsVm.formData.minScore" required="number" ng-model="settingsVm.formData.minScore" /> 
							</td>
						</tr>
						<tr>
							<td>
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="How much the player jumps when SPACE is pressed."> playerSpeed: </a>
							</td>
							<td> 
								<input type="number" ng-value="settingsVm.formData.playerSpeed" required="number" ng-model="settingsVm.formData.playerSpeed" /> 
							</td>
						</tr>
						<tr>
							<td>
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="The width of the player in pixels."> playerWidth: </a>
							</td>
							<td> 
								<input type="number" ng-value="settingsVm.formData.playerWidth" required="number" ng-model="settingsVm.formData.playerWidth" /> 
							</td>
						</tr>
						<tr>
							<td>
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="The height of the player in pixels."> playerHeight: </a>
							</td>
							<td> 
								<input type="number" ng-value="settingsVm.formData.playerHeight" required="number" ng-model="settingsVm.formData.playerHeight" /> 
							</td>
						</tr>
						<tr>
							<td>
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="The value of gravity."> gravity: </a>
							</td>
							<td> 
								<input type="number" ng-value="settingsVm.formData.gravity" required="number" ng-model="settingsVm.formData.gravity" /> 
							</td>
						</tr>
						<tr>
							<td>
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="The width of gaps. Default is 88."> gapWidth: </a>
							</td>
							<td> 
								<input type="number" ng-value="settingsVm.formData.gapWidth" required="number" ng-model="settingsVm.formData.gapWidth" /> 
							</td>
						</tr>
					</table>
					</td>

					<td>
					<table>
						<tr>
							<td>
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="The x-coordinate of the player. The player is stationary on the x-axis."> playerX: </a>
							</td>
							<td> 
								<input type="number" ng-value="settingsVm.formData.playerX" required="number" ng-model="settingsVm.formData.playerX" /> 
							</td>
						</tr>
						<tr>
							<td>
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="The y-coordinate spawn of the player."> playerY: </a>
							</td>
							<td> 
								<input type="number" ng-value="settingsVm.formData.playerY" required="number" ng-model="settingsVm.formData.playerY" /> 
							</td>
						</tr>
						<tr>
							<td> 
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="The distribution type used to randomly generate game objects (obstacles and rewards) in waves. 
								<br/> 
								<b> uniform </b> : Generate waves based on a uniform distribution.
								<br/> 
								<b> normal </b> : Generate waves based on a normal distribution."> distribution: </a>
							</td>
							<td> 
								<select ng-model="settingsVm.formData.distribution" class="form-control">
									<option value="normal"> normal </option>
									<option value="uniform"> uniform </option>
								</select>
							</td>
						</tr>
						<tr>
							<td> 
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="The mean of the normal distribution if the distribution is normal. Range is 0 to 9. 
								<br/>
								This determines where gaps will be located in the wave. 0 is the top most zone, 9 is the bottom most."> normalMean: </a>
							</td>
							<td> 
								<input type="number" ng-value="settingsVm.formData.normalMean" required="number" ng-model="settingsVm.formData.normalMean" /> 
							</td>
						</tr>
						<tr>
							<td>
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="The standard deviation of the normal distribution if the distribution is normal."> normalSD: </a>
							</td>
							<td> 
								<input type="number" ng-value="settingsVm.formData.normalSD" required="number" ng-model="settingsVm.formData.normalSD" /> 
							</td>
						</tr>
						<tr>
							<td>
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="The x-coordinate the previous wave must pass through to spawn the next wave."> waveStart: </a>
							</td>
							<td> 
								<input type="number" ng-value="settingsVm.formData.waveStart" required="number" ng-model="settingsVm.formData.waveStart" /> 
							</td>
						</tr>
						<tr>
							<td> 
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="The width of obstacles"> objectWidth: </a>
							</td>
							<td> 
								<input type="number" ng-value="settingsVm.formData.objectWidth" required="number" ng-model="settingsVm.formData.objectWidth" /> 
							</td>
						</tr>
						<tr>
							<td> 
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="The speed waves travel."> objectSpeed: </a>
							</td>
							<td> 
								<input type="number" ng-value="settingsVm.formData.objectSpeed" required="number" ng-model="settingsVm.formData.objectSpeed" /> 
							</td>
						</tr>
						<tr>
							<td>
								<a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-content="The x-coordinate where waves spawn."> objectSpawnX: </a>
							</td>
							<td> 
								<input type="number" ng-value="settingsVm.formData.objectSpawnX" required="number" ng-model="settingsVm.formData.objectSpawnX" /> 
							</td>
						</tr>
					</table>
					</td>
				</tr>

				<tr> 
					<td>
						<button ng-click="settingsVm.update()" class="btn btn-default btn-primary btn-block"> submit </button>
					</td>
					<td>
						<button ng-click="settingsVm.remove(settingsVm.currentGame)" class="btn btn-default btn-danger btn-block"> delete </button>
					</td> 
				</tr>
			</table>
		</div>

		<div class="col-md-2">
			<h4 class="text-center"> Choose Game </h4>
			<div>
				<div ng-repeat="setting in settingsVm.settings">
					<button ng-click="settingsVm.select(setting.game)" class="btn btn-default btn-block top-buffer-5"> {{ "Game: " + setting.game }} </button>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){
		    $('[data-toggle="popover"]').popover(); 
		});
	</script>
</body>
