html { overflow-y:scroll; }

body { height: 850px;
       padding-top:50px; }

p    { text-align: justify; }

.title { font-family: 'Russo One', sans-serif; }

.top-buffer-5 { margin-top: 5px; }

.top-buffer-10 { margin-top: 10px; }

.top-buffer-20 { margin-top:20px; }

.hr-margin { margin-bottom: 0px; }

.alert { color: red;
		 font-size: 30px; 
		 border: 3px solid pink;
		 background-color: white; }

#setting-list { margin-bottom:30px; }

#login { float: right; 
	 	 width: 550px; 
         margin-top: -10px; }

#loggedIn { float: right; 
		    width: 300px; 
		    margin-top: 10px; }