<!DOCTYPE HTML>
<html ng-app="dataApp">
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <title> Game Data </title>

	    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    	<style>
        	html                    { overflow-y:scroll; }
        	body                    { padding-top:50px; }
        	#setting-list           { margin-bottom:30px; }
    	</style>
	</head>

	<body ng-controller="dataController as dataVm">
		{{ dataVm.test }}
		<h4> Current Game Type: {{ dataVm.currentGameType }} / {{ dataVm.totalGameTypes }} </h4>

		<button ng-click="dataVm.decrementGameType()"> prev </button>
		<input type="number" placeholder="game number" value="0" ng-model="dataVm.currentGameType" />
		<button ng-click="dataVm.incrementGameType()"> next </button>

		<h5> Game: {{ dataVm.currentGame }} / {{ dataVm.currentPlayCount }} </h5>
		<h6> (games are zero-indexed) </h6>
		<button ng-click="dataVm.decrementCurrentGame()"> prev </button>
		<input type="number" placeholder="game number" value="0" ng-model="dataVm.currentGame" />
		<button ng-click="dataVm.incrementCurrentGame()"> next </button>

		<table>
			<tr>
				<th> Time Stamp </th>

				<th> Player Y Position </th>

				<th> Score </th>

				<th> Activity </th>	
			</tr>
			<tr ng-repeat="data in dataVm.displayData[dataVm.currentGame].gameData">
			<!-- <tr ng-repeat="data in dataVm.displayData[dataVm.currentGame]"> -->
				<td> {{ data.timeStamp }} </td>
				<td> {{ data.playerY }} </td>
				<td> {{ data.score }} </td>

				<td ng-if="data.pressedSpace == true"> Pressed space </td>
				<td ng-if="data.obstacleCollision == true"> Obstacle collision </td>
				<td ng-if="data.rewarded == true"> Rewarded. Score : {{ data.score }} </td>
				<td ng-if="data.waveSpawned == true"> Wave spawned. {{ data.numberOfObstacles }} obstacles spawned. 
					<ul id="gameObjectList">
						<li> Obstacle 1 Position: ({{ data.obstacle1X }}, {{ data.obstacle1Y }}) </li>
						<li> Obstacle 1 Height: {{ data.obstacle1Height }} </li> 

						<div ng-if="data.obstacle2Height != 0">
							<li> Obstacle 2 Position: ({{ data.obstacle2X }}, {{ data.obstacle2Y }}) </li>
							<li> Obstacle 2 Height: {{ data.obstacle2Height }} </li> 
						</div>

						<div ng-if="data.obstacle3Height != 0">
							<li> Obstacle 3 Position: ({{ data.obstacle3X }}, {{ data.obstacle3Y }}) </li>
							<li> Obstacle 3 Height: {{ data.obstacle3Height }} </li> 
						</div>

						<li> Reward Position: ({{ data.rewardX }}, {{ data.rewardY }}) </li>
					</ul>
				</td>
			</tr>
		</table>

		<a href="http://localhost:3000/data/csv" class="btn btn-default"> download csv </a>
		<button ng-click="dataVm.remove(dataVm.currentGameType, true)" class="btn btn-default"> 
			delete all data for game type {{ dataVm.currentGameType }} 
		</button>
		<button ng-click="dataVm.removeAll()" class="btn btn-default"> delete all data for all game types </button>
		<!-- {{ dataVm.displayData }} -->

		<!-- Scripts -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.3/ng-csv.min.js"></script>
		<script type="text/javascript" src="http://localhost:3000/javascripts/data/dataApp.js"></script>
	</body>

</html>